<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{LABEL_PREFIX}}.test-gaps</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{PROJECT_PATH}}/ops/scripts/scheduled-test-gaps.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{PROJECT_PATH}}</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>30</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>{{HOME}}/Library/Logs/test-gaps.out.log</string>
    <key>StandardErrorPath</key>
    <string>{{HOME}}/Library/Logs/test-gaps.err.log</string>
    <key>RunAtLoad</key>
    <false/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>{{HOME}}</string>
        <key>LANG</key>
        <string>en_US.UTF-8</string>
    </dict>
</dict>
</plist>
